{%extends 'base.html'%}

{% block 'conteudo'%}
    <div class="parallax1">
        <div class="caption">
            <span class="border">Olá Mundo</span>
        </div>
    </div>

    <div class="parallax2 clearfix">
        <div class="square">
            <iframe src="https://www.google.com/maps/d/embed?mid=1kyt47dSgutKywHwN5mET_25xH6sjnfmP&ehbc=2E312F" width="500px" height="500px"></iframe>
        </div>
        <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit quam eu nulla feugiat, sed vestibulum lorem vestibulum. Sed convallis diam non ex varius, a tincidunt nisl dictum. 
        Phasellus tempor ligula at turpis facilisis, at dignissim ipsum eleifend. Proin sagittis consequat odio, vel ullamcorper ligula feugiat sit amet. Vivamus rutrum libero id quam tincidunt, in egestas eros fringilla.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit quam eu nulla feugiat, sed vestibulum lorem vestibulum. Sed convallis diam non ex varius, a tincidunt nisl dictum. 
        Phasellus tempor ligula at turpis facilisis, at dignissim ipsum eleifend. Proin sagittis consequat odio, vel ullamcorper ligula feugiat sit amet. Vivamus rutrum libero id quam tincidunt, in egestas eros fringilla.
        </div>
    </div>

    <div class="parallax3">
        <div class="caption">
            <span class="border">RECICLA ESSA PORRA !</span>
        </div>
    </div>
{% endblock %}