{% extends 'base.html' %}

{% block 'conteudo' %}

{% load static %}
<div class="main-cadastro">
  <div class="left-cadastro">
    <div class="card-cadastro">
      <h1>Cadastro</h1>
        <form method="post" class="textfield" action="{% url 'cadastrar_cliente' %}">
          {% csrf_token %}
          <div class="textfield-cadastro">
            <label for="username">Usuário</label>
            <input type="text" id="username" name="username" placeholder="Usuário" required>    
          </div>
          <div class="textfield-cadastro">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Senha" required>
          </div>
          <div class="textfield-cadastro">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
          </div>
        </form>
      <button type="submit" class="btn-cadastro">Cadastrar</button>
    </div>
  </div>
  <div class="right-cadastro">
    <img src="{% static 'media/environment-animate.svg' %}" class="right-cadastro-img" alt="world">
  </div>
</div>
{% endblock %}
